.Button {
    display: inline-block;
    position: relative;
    margin: 0;
    cursor: pointer;
    padding: 0.563rem $space-small;
    font: 100% system-ui;
    font-family: $default-font-family;
    font-size: 0.875rem;
    line-height: 1;
    color: $color-neutral-100;
    text-decoration: none;
    background: $color-white;
    border: 1px solid $color-neutral-50;
    box-shadow: 0 1px 2px 1px rgba($color-black, 0.15);
    border-radius: $border-radius-small;
    transition: 0.2s;

    &::after {
        display: block;
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        width: 150%;
        height: 150%;
        background: transparent;
        transform: translate3d(-50%, -50%, 0);
    }

    /**
     * States
     */
    &:hover {
        color: $color-primary;
        // background: $color-neutral-10;
        border: 1px solid $color-primary;
        box-shadow: 0 4px 8px 1px rgba($color-black, 0.3);
        transition: 0.2s;
    }

    &:focus {
        outline: none;
        // box-shadow: $on-focus-highlight;
    }

    &:active {
        outline: none;
        box-shadow: none;
    }

    /**
     * Children
     */
    .Label {
        z-index: 22;
    }

    .Icon {
        position: relative;
        z-index: 33;
        width: $space-large;
        height: $space-large;
        transition: 0.2s;
    }

    &:hover .Icon {
        fill: $color-primary;
        transition: 0.2s;
    }

    /**
     * Modifiers
     */
    &--fullwidth {
        display: block;
        text-align: center;
    }

    &--cta {
        color: $color-white;
        background: $color-secondary;
        border: 1px solid $color-secondary;

        &:hover {
            color: $color-white;
            background: $color-secondary-dark;
            border: 1px solid $color-secondary-dark;
        }
    }

    &--primary {
        color: $color-primary;
        border: 1px solid $color-primary;
    }

    &--text {
        background: none;
        border: 0;
        box-shadow: none;
        color: $color-neutral-100;

        &:hover {
            background: none;
            border: 0;
            box-shadow: none;
            color: $color-primary;
            text-decoration: underline;
        }

        &:focus {
            outline: none;
            // box-shadow: $on-focus-highlight;
        }
    }

    &--icon,
    &--icon:hover {
        background: none;
        border: 0;
        box-shadow: none;
        border-radius: $border-radius-large;
    }

    &--icon {
        // padding: 0;
        // padding: calc(#{$space-xsmall} / 2);
        line-height: 0;
        vertical-align: middle;

        & .Icon,
        & .Label {
            display: inline-block;
            vertical-align: middle;
            line-height: normal;
        }

        & .Icon {
            padding: 0;
        }
    }
}