.Card {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    background: $color-white;
    box-shadow: 0 1px 2px 1px rgba($color-black, 0.15), 0 0 0 1px rgba($color-black, 0.03);
    border-radius: $border-radius-small;

    &::after {
        display: block;
        position: relative;
        content: '';
        float: none;
        clear: both;
    }

    /**
     * Spacing
     */
    &--spacing-xlarge {
        padding: $space-xlarge;
    }

    &--spacing-large {
        padding: $space-large;
    }

    &--spacing-normal {
        padding: $space-normal;
    }

    &--spacing-small {
        padding: $space-small;
    }

    &--spacing-xsmall {
        padding: $space-xsmall;
    }


    /**
     * Modifers
     */
    &--is-clickable {
        cursor: pointer;
        transition: 0.2s;

        &:hover {
            box-shadow: 0 4px 12px 1px rgba($color-black, 0.2), 0 0 0 1px rgba($color-black, 0.03);
            transition: 0.2s;
        }

        &:active {
            box-shadow: 0 0 0 1px rgba($color-black, 0.05);
            transition: 0.1s;
        }

        &::before {
            display: block;
            position: absolute;
            content: '';
            top: 50%;
            left: 50%;
            width: 105%;
            height: 120%;
            background: none;
            transform: translate3d(-50%, -50%, 0);
        }
    }

    &--flat {
        box-shadow: 0 0 0 1px $color-neutral-10;
    }

    &--backgroundless {
        background: transparent;
        box-shadow: none;
    }

    /**
     * Children
     */
    &__trigger {
        border-radius: $border-radius-small;

        &:hover {
            box-shadow: inset 0 0 0 2px rgba($color-primary, 0.8);
        }

        &:focus {
            outline: 0;
            box-shadow: none;
        }
    }

    &__picture {
        display: block;
        margin: 0;
        padding: 0;
        background: $color-neutral-50;
        overflow: hidden;

        img {
            display: block;
            position: absolute;
            margin: 0;
            padding: 0;
            border: none;
            outline: none;
            backface-visibility: hidden;
        }

        &--align-left {
            position: absolute;
            top: 0;
            left: 0;
            width: 30%;
            height: 100%;
            border-radius: $border-radius-small 0 0 $border-radius-small;

            img {
                top: 0;
                left: 50%;
                width: auto;
                height: 100%;
                transform: translateX(-50%);
            }
        }
    }

    &__content {
        display: block;

        &--align-right {
            padding: 0 0 0 30%;
        }
    }

    &__header {
        display: block;
        padding: $space-normal;

        & .Headline {
            font-weight: bold;
        }
    }

    &__description {
        display: block;
        margin: 0;
        padding: $space-xsmall $space-normal $space-normal;
    }

    &__footer {
        display: block;
        margin: 0;
        padding: $space-normal;
        //REM background: $color-neutral-05;
    }

    &__info {
        display: block;
        position: relative;
        padding: 0 0 0 2.25rem;
    }

    & .Info {
        &__author__picture {
            display: block;
            position: absolute;
            top: 50%;
            left: 0;
            width: 2.25rem;
            height: 2.25rem;
            background: $color-neutral-20;
            border-radius: 100%;
            transform: translateY(-50%);
        }

        &__author__name,
        &__date__time p {
            font-size: 0.625rem;
            color: $color-neutral-50;
            line-height: 1;
        }

        &__author__name,
        &__date__time {
            padding: 0 0 0 $space-xsmall;
        }

        &__author__name {
            font-weight: bold;
            padding-bottom: 0.25rem;
        }
    }

    .Overlay {
        z-index: 88;
    }
}