.Dialog {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // max-width: 960px;
    margin: 0 auto;
    padding: 0;

    /**
     * Modifiers
     */
    &--is-visible {
        z-index: 9999;
        visibility: visible;
        opacity: 1;
        transition: 0.3s;
    }

    &--is-hidden {
        z-index: -9999;
        visibility: hidden;
        opacity: 0;
        transition: 0.3s;
    }

    /**
     * Children
     */
    &__wrapper {
        display: block;
        position: relative;
        width: 90%;
        margin: $space-normal auto;

        &--boxed {
            margin-top: calc(#{$space-xlarge} * 3);
            padding: 0;
            background: $color-white;
            border-radius: $border-radius-small;
            box-shadow: 0 8px 18px 2px rgba($color-black, 0.2);
        }

        &--type-large {
            max-width: 960px;
        }

        &--type-medium {
            max-width: 720px;
        }

        &--type-small {
            max-width: 320px;
        }

    }

    &__header,
    &__content,
    &__footer {
        display: block;
        position: relative;
        margin: 0;
        padding: $space-normal;
    }

    &__header {
        .Button--icon {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &__footer {
        text-align: right;
        font-size: 0;

        .Button {
            margin-left: $space-normal;
        }
    }
}