.Drawer {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    backface-visibility: hidden;

    &--index-upfront {
        z-index: 9999;
    }

    &--is-visible {
        // visibility: visible;
        // opacity: 1;
        // transition: 0.3s;
        animation: DrawerIntro 0.3s ease-in-out both;
        backface-visibility: hidden;

        @keyframes DrawerIntro {
            0% {}
            100% {
                visibility: visible;
                opacity: 1;
                z-index: 9999;
            }
        }


        & .Drawer__panel {
            transform: translateX(0%);
            transition: 0.3s 0.15s;
            backface-visibility: hidden;
        }
    }

    &--is-hidden {
        // visibility: hidden;
        // opacity: 0;
        // z-index: -9999;
        // transition: 0.3s;
        animation: DrawerOutro 0.25s ease-in-out 0.15s both;
        backface-visibility: hidden;

        @keyframes DrawerOutro {
            0% {}
            100% {
                visibility: hidden;
                opacity: 0;
                z-index: -9999;
            }
        }

        & .Drawer__panel {
            transform: translateX(100%);
            transition: 0.15s;
            backface-visibility: hidden;
        }
    }

    &--has-overlay {
        &::before {
            display: block;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $color-neutral-100;
            opacity: 0.8;
        }
    }

    &__panel {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 90%;
        max-width: 18.75rem;
        height: 100%;
        margin: 0;
        padding: 0;
        background: $color-white;
        box-shadow: 0 -12px 24px 1px rgba(0,0,0,0.3);

        &__header {
            display: block;
            position: relative;

            &--spacing-xlarge {
                padding: $space-xlarge;
            }

            &--spacing-large {
                padding: $space-large;
            }

            &--spacing-normal {
                padding: $space-normal;
            }

            &--spacing-small {
                padding: $space-small;
            }

            &--spacing-xsmall {
                padding: $space-xsmall;
            }


            &--align-right {
                text-align: right;
            }
        }
    }
}