// Headlines
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-family: $default-font-family;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.5;
}

// Paragraph
p {
    margin: 0;
    padding: 0;
    font-family: $default-font-family;
    font-size: 0.875rem;
    font-weight: normal;
    line-height: 1.5;
}

b, strong {
    font-weight: bold;
}

// Link
a {
    display: inline-block;
    margin: 0;
    padding: 0;
    color: $color-neutral-100;
    text-decoration: underline;
    transition: 0.2s;

    &:hover {
        color: $color-secondary;
        text-decoration: none;
        transition: 0.2s;
    }

    &:focus {
        outline: none;
    }
}

// Figure
figure {
    display: block;
    position: relative;
    padding: 0;
    margin: 0;
}