.Footer {
    padding: $space-normal 0;

    .List .List__item a:hover,
    .List .List__item a:focus {
        color: $color-primary;
    }

    &__copyright {
        font-size: 0.75rem;
        text-align: center;
        color: $color-neutral-50;
    }
}