.Form {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;

    &, & * {
        box-sizing: border-box;
    }

    &__item {
        display: block;
        position: relative;
        padding: $space-xsmall 0;
    }

    .Label {
        display: block;
        padding: 0 0 calc(#{$space-xsmall} / 2) 0;
        font-size: 0.625rem;
        color: $color-neutral-50;
    }

    &--align-left {
        .Label,
        .Input {
            display: inline-block;
            width: auto;
        }

        .Label {
            width: 30%;
            margin-right: $space-normal;
            font-size: 0.75rem;
            text-align: right;
        }

        .Input {
            width: 60%;
        }
    }

}