.Grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    margin: 0;
    padding: $space-normal;
    box-sizing: border-box;

    /**
     * Spacing
     */
    &--spacing-none {
        padding: 0;
    }

    &--align {
        &-top {
            align-items: flex-start;
        }

        &-center {
            align-items: center;
        }

        &-bottom {
            align-items: flex-end;
        }
    }

    &__item {
        width: 100%;
        padding: $space-xsmall;
        box-sizing: border-box;

        @media only screen and (min-width : $breakpoint-medium-screen) {
            width: auto;
            transition: 0.2s;
        }

        &--is-hidden {
            display: none;
        }

        /**
         * Spacing
         */
        &--spacing-xlarge {
            padding: $space-xlarge;
        }

        &--spacing-large {
            padding: $space-large;
        }

        &--spacing-small {
            padding: $space-small;
        }

        /**
         * Alignment
         */
        &--align-left {
            margin-right: auto;
        }

        &--align-right {
            margin-left: auto;
        }

        /**
         * Rows
         */
        &--row-auto {
            width: auto;
        }

        &--row-100 {
            width: 100%;
        }

        &--row-80 {
            width: 80%;
        }

        &--row-60 {
            width: 60%;
        }

        &--row-50 {
            width: 50%;
        }

        &--row-33 {
            width: 33.33%;
        }

        &--row-20 {
            width: 20%;
        }

        &--row-10 {
            width: 10%;
        }

        &--algin {
            &-right {
                margin-left: auto;
            }

            &-left {
                margin-right: auto;
            }

        }

        @media only screen and (max-width : $breakpoint-medium-screen) {
            &--row-auto,
            &--row-80,
            &--row-60,
            &--row-50,
            &--row-33,
            &--row-20,
            &--row-10 {
                width: 100%;
                transition: 0.2s;
            }
        }
    }
}