.Headline {
    font-family: $default-font-family;
    font-weight: bold;
    line-height: 1;

    /**
     * Modifiers
     */
    &--align-center {
        text-align: center;
    }

    &--xlarge {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    &--large {
        font-size: 1.5rem;
        line-height: $space-xlarge;
    }

    &--medium {
        font-size: 1rem;
    }

    &--small {
        font-size: 0.875rem;
    }

    // Spacing top
    &--spacing-top-xlarge {
        padding-top: $space-xlarge;
    }

    &--spacing-top-large {
        padding-top: $space-large;
    }

    &--spacing-top-normal {
        padding-top: $space-normal;
    }

    &--spacing-top-small {
        padding-top: $space-small;
    }

    &--spacing-top-xsmall {
        padding-top: $space-xsmall;
    }

    // Spacing bottom
    &--spacing-bottom-xlarge {
        padding-bottom: $space-xlarge;
    }

    &--spacing-bottom-large {
        padding-bottom: $space-large;
    }

    &--spacing-bottom-normal {
        padding-bottom: $space-normal;
    }

    &--spacing-bottom-small {
        padding-bottom: $space-small;
    }

    &--spacing-bottom-xsmall {
        padding-bottom: $space-xsmall;
    }

    &--color-white {
        color: $dark-theme-font-color;
        text-shadow: $dark-theme-text-shadow;
    }


    /**
     * Children
     */
    &__trigger {
        color: $color-secondary;
    }

}