.Header {
    display:block;
    position: relative;
    z-index: 999;
    background: $color-white;
    box-shadow: 0 2px 4px 2px rgba($color-black, 0.15);

    &__content {
        display: block;
        position: relative;

        &--align-left {
            float: left;
        }

        &--align-right {
            float: right;
        }
    }
}