.Input {
    display: block;
    position: relative;
    width: 100%;
    min-width: 150px;
    margin: 0;
    padding: 0.344rem $space-xsmall;
    border: 1px solid $color-neutral-20;
    border-radius: $border-radius-small;
    box-sizing: border-box;
    font-size: 0.875rem;
    line-height: 1;
    color: $color-neutral-100;

    &:hover {
        color: $color-primary;
        border: 1px solid $color-primary;
        box-shadow: 0 1px 2px 1px rgba($color-black, 0.15);
        transition: 0.2s;
    }

    &:focus {
        outline: none;
    }

    /**
     * Colors
     */
    &--color {
        &-light {
            background: $color-white;
        }
        &-grey {
            background: $color-neutral-05;
        }
    }
}