.List {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;

    /**
     * Modifier
     */
    &--type-disc {
        list-style: disc;
        list-style-position: inside;
    }

    /**
     * Spacing
     */
    &--spacing {
        &-xlarge {
            padding: $space-xlarge;
        }

        &-large {
            padding: $space-large;
        }

        &-normal {
            padding: $space-normal;
        }

        &-small {
            padding: $space-small;
        }

        &-xsmall {
            padding: $space-xsmall;
        }

        // Top only
        &-top-xlarge {
            padding-top: $space-xlarge;
        }

        &-top-large {
            padding-top: $space-large;
        }

        &-top-normal {
            padding-top: $space-normal;
        }

        &-top-small {
            padding-top: $space-small;
        }

        &-top-xsmall {
            padding-top: $space-xsmall;
        }

        // bottom only
        &-bottom-xlarge {
            padding-bottom: $space-xlarge;
        }

        &-bottom-large {
            padding-bottom: $space-large;
        }

        &-bottom-normal {
            padding-bottom: $space-normal;
        }

        &-bottom-small {
            padding-bottom: $space-small;
        }

        &-bottom-xsmall {
            padding-bottom: $space-xsmall;
        }
    }

    /**
     * Children
     */
    &__headline {
        display: block;
        padding: 0 $space-normal $space-small $space-normal;
        font-weight: bold;
        font-size: 0.875rem;
    }

    &__item {
        padding: 0;

        &--spacing {
            &-default {
                padding: 0 $space-normal $space-xsmall $space-normal;
            }

            &-xlarge {
                padding: $space-xlarge;
            }

            &-large {
                padding: $space-large;
            }

            &-normal {
                padding: $space-normal;
            }

            &-small {
                padding: $space-small;
            }

            &-xsmall {
                padding: $space-xsmall;
            }

            // Top only
            &-top-xlarge {
                padding-top: $space-xlarge;
            }

            &-top-large {
                padding-top: $space-large;
            }

            &-top-normal {
                padding-top: $space-normal;
            }

            &-top-small {
                padding-top: $space-small;
            }

            &-top-xsmall {
                padding-top: $space-xsmall;
            }

            // bottom only
            &-bottom-xlarge {
                padding-bottom: $space-xlarge;
            }

            &-bottom-large {
                padding-bottom: $space-large;
            }

            &-bottom-normal {
                padding-bottom: $space-normal;
            }

            &-bottom-small {
                padding-bottom: $space-small;
            }

            &-bottom-xsmall {
                padding-bottom: $space-xsmall;
            }
        }
    }
}