.Menu {
    display: block;
    position: relative;
    padding: 0;
    margin: 0;

    &--align-horiz-center {
        display: table;
        margin: 0 auto;
    }

    &--align-items-right {
        text-align: right;
    }

    &__item {
        display: inline-block;
        position: relative;
        padding: 0 $space-xsmall;
        margin: 0;

        &__trigger {
            display: block;
            position: relative;
            padding: 0.563rem;
            margin: 0;
            border: 0;
            font: 100% system-ui;
            font-size: 0.875rem;
            font-family: $default-font-family;
            line-height: 1;
            text-decoration: none;
            color: $color-neutral-100;
            font-weight: bold;
            background: none;
            transition: 0.2s;
        }

        &--fullwidth {
            display: block;
            padding: $space-xsmall;
        }

        &--active .Menu__item__trigger,
        &:hover .Menu__item__trigger,
        & .Menu__item__trigger:hover,
        & .Menu__item__trigger:focus {
            color: $color-primary;
            transition: 0.2s;
        }

        & .item__trigger:focus {
            outline: none;
            // box-shadow: $on-focus-highlight;
        }
    }
}