.Modal {
    display: block;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &--is-hidden {
        z-index: -9999;
        visibility: hidden;
        opacity: 0;
        transition: 0.3s;
    }

    &--is-visible {
        z-index: 9999;
        visibility: visible;
        opacity: 1;
        transition: 0.3s;
    }
}