.Navigation {
    display: block;
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;

    &--color-primary {
        background: $color-primary;
    }

    &--color-secondary {
        background: $color-secondary;
    }

    &--color-neutral-10 {
        background: $color-neutral-10;
    }

    &--color-neutral-20 {
        background: $color-neutral-20;
    }

    &--color-neutral-50 {
        background: $color-neutral-50;
    }

    &--color-primary,
    &--color-secondary,
    &--color-neutral-50 {
        .Button, .Label {
            color: $color-white;
        }
    }
}