.Overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;

    &--background {
        &-image-cover {
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }

    &--is-blurred {
        filter: blur(4px);

        &-high {
            filter: blur(16px);
        }
        &-medium {
            filter: blur(8px);
        }
        &-low {
            filter: blur(2px);
        }
    }

    &--color {
        background-color: $color-neutral-05;

        /**
         * Transparent colors
         */
        &-alpha-dark {
            background-color: rgba($color-neutral-100, 0.7);
        }

        &-alpha-grey {
            background-color: rgba($color-neutral-20, 0.7);
        }

        &-alpha-light {
            background-color: rgba($color-neutral-05, 0.7);
        }

        /**
         * Bold colors
         */
        &-primary {
            background-color: $color-primary;
        }

        &-primary-light {
            background-color: $color-primary-light;
        }

        &-primary-saturate-ultralight {
            background-color: lighten(saturate($color-primary, 50%), 40%);
        }

        &-primary-dark {
            background-color: $color-primary-dark;
        }

        &-secondary {
            background-color: $color-secondary;
        }

        &-secondary-light {
            background-color: $color-secondary-light;
        }

        &-secondary-light {
            background-color: $color-secondary-dark;
        }

        &-primary-gradient {
            background: linear-gradient(50deg, lighten(saturate($color-primary, 50%), 40%), saturate($color-primary, 50%));
        }

        &-neutral-05 {
            background: $color-neutral-05;
        }

        &-neutral-10 {
            background: $color-neutral-10;
        }

        &-neutral-20 {
            background: $color-neutral-20;
        }

        &-neutral-50 {
            background: $color-neutral-50;
        }

        &-neutral-100 {
            background: $color-neutral-100;
        }
    }
}