.Page {
    padding: 0;
    margin: 0;
    // TO REM font: 100% system-ui;
    font-size: 100%;
    font-family: $default-font-family, Arial, Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    color: $color-neutral-100;
    background: $color-neutral-10;
}