.Paragraph,
.Paragraph p {
    display: block;
    position: relative;
    padding: 0;
    margin: 0;
    line-height: 1.7;

    &--font-color {
        &-white,
        &-white p {
            color: $color-white;
        }
    }

    &--text-shadow {
        &-large {
            text-shadow: 0 4px 18px rgba(0,0,0,0.5);
        }
    }

    &--font-size {
        &-large,
        &-large p {
            font-size: $space-large;
        }

        &-medium,
        &-medium p {
            font-size: $space-normal;
        }

        &-small,
        &-small p {
            font-size: $space-small;
        }
    }

    &--spacing-xlarge,
    &--spacing-xlarge p {
        padding: $space-xlarge 0;
    }

    &--spacing-large,
    &--spacing-large p {
        padding: $space-large 0;
    }

    &--spacing-normal,
    &--spacing-normal p {
        padding: $space-normal 0;
    }

    &--spacing-small,
    &--spacing-small p {
        padding: $space-small 0;
    }

    &--spacing-xsmall,
    &--spacing-xsmall p {
        padding: $space-xsmall 0;
    }

    &--color-white,
    &--color-white p {
        color: $dark-theme-font-color;
        text-shadow: $dark-theme-text-shadow;
    }

    &--text-align {
        &-left {
            text-align: left;
        }
        &-center {
            text-align: center;
        }
        &-right {
            text-align: right;
        }
    }

    &--content-wrapper {
        padding: 0;
    }
}
