.Picture {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;

    &--align {

        &-left {
            float: left;
            margin: 0 $space-normal 0 0;
        }

        &-right {
            float: right;
            margin: 0 0 0 $space-normal;
        }
    }

    &--spacing {
        &-inner-normal {
            padding: $space-normal;
        }

        &-inner-xsmall {
            padding: $space-xsmall;
        }

    }

    &--color {
        &-white {
            background: $color-white;
        }
    }

    &--border-radius {
        border-radius: $border-radius-small;
    }

    &--box-shadow {
        box-shadow: 0 2px 12px 1px rgba($color-black, 0.15);
    }

    img {
        display: block;
        position: relative;
        max-width: 100%;
        margin: 0;
        padding: 0;
        border: 0;
    }
}