.Section {
    display: block;
    position: relative;
    margin: 0;
    padding: 0 $space-normal;

    .Section {
        &:first-of-type {
            padding-top: 0;
        }

        &:last-of-type {
            padding-bottom: 0;
        }
    }

    /**
     * Modifiers
     */
    &--spacing {
        &-xlarge {
            padding-top: $space-xlarge;
            padding-bottom: $space-xlarge;
        }

        &-large {
            padding-top: $space-large;
            padding-bottom: $space-large;
        }

        &-normal {
            padding-top: $space-normal;
            padding-bottom: $space-normal;
        }

        &-small {
            padding-top: $space-small;
            padding-bottom: $space-small;
        }

        &-xsmall {
            padding-top: $space-xsmall;
            padding-bottom: $space-xsmall;
        }

        &-none {
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    &--color-neutral {
        &-05 {
            background: $color-neutral-05;
        }

        &-10 {
            background: $color-neutral-10;
        }

        &-20 {
            background: $color-neutral-20;
        }

        &-50 {
            background: $color-neutral-50;
        }


    }

    &--color-primary {
        background: $color-primary;

        &-light {
            background: lighten($color-primary, 30%);
        }

        &-dark {
            background: $color-primary-dark;
        }
    }

    &--color-secondary {
        background: $color-secondary;

        &-light {
            background: $color-secondary-light;
        }

        &-dark {
            background: $color-secondary-dark;
        }
    }

    &--color-white-shadow {
        background: $color-white;
        box-shadow: 0 1px 2px 1px rgba($color-black, 0.15);
    }

    /**
     * Header
     */
    &__header {
        display: block;
        position: relative;
        margin: 0 $space-normal;
        padding: 0 0 $space-normal 0;
        box-shadow: 0 1px 0 $color-neutral-10;

        &__action {
            display: block;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
        }
    }
}