.Separator {
    display: block;
    position: relative;
    width: 100%;
    height: 1px;
    padding: 0;
    margin: $space-normal 0;
    border: 0;
    background: $color-neutral-10;

    &--color-neutral-05 {
        background: $color-neutral-05;
    }

    &--color-neutral-10 {
        background: $color-neutral-10;
    }

    &--color-neutral-20 {
        background: $color-neutral-20;
    }

    &--color-neutral-50 {
        background: $color-neutral-50;
    }

    &--color-neutral-100 {
        background: $color-neutral-100;
    }
}