.Tab {
    display: block;
    position: relative;
    // overflow: hidden;

    &__header {
        display: block;
    }
    &__nav {
        display: block;
        padding: 0;
        margin: 0;
        font-size: 0;
    }
    &__nav__item {
        display: inline-block;
        padding: 0 $space-xsmall 0 0;

        .Button {
            border: 0;
            border-radius: 0;
            box-shadow: inset 0 -2px 0 $color-neutral-20;
        }

        &--is-active .Button {
            color: $color-primary;
            box-shadow: inset 0 -2px 0 $color-primary;
        }
    }

    &__content {
        display: block;
        // overflow: hidden;
        box-sizing: border-box;
    }

    &__item {
        display: block;
        position: relative;
        top: 0;
        box-sizing: border-box;
        margin: 0;
        padding: $space-normal 0 0 0;

        &--is-visible {
            display: block;
            visibility: visible;
            opacity: 1;
        }

        &--is-hidden {
            display: none;
            visibility: hidden;
            opacity: 0;
        }
    }
}