.Wrapper {
    display: block;
    position: relative;
    padding: 0;
    margin: 0;
    transition: filter 0.2s;

    /**
     * Modifiers
     */
    &--spacing {
        &-xlarge {
            padding: $space-xlarge 0;
        }

        &-large {
            padding: $space-large 0;
        }

        &-normal {
            padding: $space-normal 0;
        }

        &-small {
            padding: $space-small 0;
        }

        &-xsmall {
            padding: $space-xsmall 0;
        }

    }

    &--constraints-maxwidth {
        max-width: 960px;
        margin: 0 auto;
    }

    &--is-blurred {
        filter: blur(8px);
        transition: 0.2s;

        &-high {
            filter: blur(24px);
            transition: 0.2s;
        }

        &-medium {
            filter: blur(16px);
            transition: 0.2s;
        }

        &-low {
            filter: blur(2px);
            transition: 0.2s;
        }
    }

}