/**
 * Neutral colors
 */
$color-neutral-100: #333;
$color-neutral-50: #636363;
$color-neutral-20: #d1d1d1;
$color-neutral-10: #e1e1e1;
$color-neutral-05: #f7f7f7;

/**
 * Default colors
 */
$color-white: #fff;
$color-black: #000;
$color-active: #22A7F0;

/**
 * Alerts colors
 */
$color-success: #26A65B;
$color-info: #446CB3;
$color-warning: #F9690E;
$color-error: #F22613;

/**
 * Branding colors
 */
// Primary branding color
$color-primary: #2574A9;
$color-primary-light: lighten($color-primary, 20%);
$color-primary-dark: darken($color-primary, 20%);

// Secondary branding color
$color-secondary: #22A7F0;
$color-secondary-light: lighten($color-secondary, 20%);
$color-secondary-dark: darken($color-secondary, 20%);

// Tertiary branding color
$color-tertiary: #E87E04;
$color-tertiary-light: lighten($color-tertiary, 20%);
$color-tertiary-dark: darken($color-tertiary, 20%);