/**
 * Shared styles
 */

// Default Font family
$default-font-family: Helevetica, "Helevetica", Arial, Verdana, Geneva, sans-serif;

// White text on dark area
$dark-theme-font-color: $color-white;
$dark-theme-text-shadow: 0 1px 32px rgba($color-black, 0.8);

// On Focus color highlight
$on-focus-highlight: 0 0 4px 2px rgba($color-active, 1), 0 0 0 1px rgba($color-active, 1);

// boder radius
$border-radius-xlarge: 14px;
$border-radius-large: 8px;
$border-radius-medium: 4px;
$border-radius-small: 2px;